{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label for="{{ identifier }}">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="dionysos-field select">
        <input type="hidden" name="{{ name }}" value="" />

        {% if options %}
            {% set fieldname = name ~ (multiple ? '[]' : '') %}
            {% set fieldopts = multiple ? ' size="5" multiple="true"' : '' %}

            <select name="{{ fieldname }}" id="{{ identifier }}"{{ fieldopts }}>
                {% for k, opt in options if k %}
                    {% set selected = k in value ? true : false %}
                    <option value="{{ k == '-1' ? '' : k }}"{{ selected ? ' selected="selected"' : '' }}>{{ opt }}</option>
                {% endfor %}
            </select>
        {% else %}
            {{ t_no_options|raw }}
        {% endif %}
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}{% if multiple %}<br/>{{ t_keyboard|raw }}{% endif %}
{% endblock %}
